<tr>
  <td><%= cl_image_tag(order_item.item.item_picture.key, height: 100, width: 100, gravity: :face, crop: :thumb, sign_url: true) %></td>
  <td><%= order_item.item_title %></td>
  <td><%= order_item.unit_price %></td>
  <td><%= order_item.quantity %></td>
  <td><%= order_item.total %></td>
  <td><%= link_to 'Show Item',item_path(order_item.item), class: "btn btn-dark"%></td>
  <td><%= link_to 'Increase Quantity',cart_path(item_id: order_item.item, increase: true), method: :patch, class: "btn btn-dark"%></td>
  <td><%= link_to 'Decrease Quantity',cart_path(item_id: order_item.item), method: :patch, class: "btn btn-dark"%></td>
  <%# <td><%= link_to 'Remove Item From Cart', item_path(item),
              method: :delete,
              data: { confirm: 'Are you sure?' },class: "btn btn-dark" %><%#</td> %>
</tr>

