<%if current_or_guest_user.admin?%>
  <%=link_to 'New Category',new_category_path, class: "btn btn-dark"%>
<%end%>
<table class="table">
  <tr>
    <th>Category</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.category %></td>
      <td><%= link_to 'Show Items',category_path(category), class: "btn btn-dark"%>
      <%if current_or_guest_user.admin?%>
        <td><%= link_to 'Destroy', category_path(category),
              method: :delete,
              data: { confirm: 'Are you sure? All items associated with only this category will be destroyed' },class: "btn btn-dark" %></td>
      <%end%>
    </tr>
  <% end %>
  </table>

  <td><%= link_to 'Back',items_path, class: "btn btn-dark"%>
