<h1>Hello</h1>
<table class="table">
<% @category.each do |item| %>
    <tr>
      <td><%= cl_image_tag(item.item_picture.key, height: 100, width: 100, gravity: :face, crop: :thumb, sign_url: true) %></td>
      <td><%= item.title %></td>
      <td><%= item.description %></td>
      <td><%= item.price %></td>
      <%= render item.categories%>
      <td><%= link_to 'Edit Item',edit_item_path(item),class: "btn btn-dark"%></td>
      <td><%= link_to 'Show Item',item_path(item), class: "btn btn-dark"%></td>
      <td><%= link_to 'Destroy', item_path(item),
              method: :delete,
              data: { confirm: 'Are you sure?' },class: "btn btn-dark" %></td>
    </tr>
  <% end %>
  </table>
