<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <div class='container-fluid'>
    <%= link_to 'Dinner Dash',items_path, class:'navbar-brand' %>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
        <li class='nav-item'>
          <%= link_to 'Home',items_path, class:'nav-link' %>
        </li>
        <% if current_user&.admin? %>
          <li class='nav-item'>
            <%= link_to 'New Item',new_item_path, class:'nav-link' %>
          </li>
        <% end %>
        <li class='nav-item'>
          <%= link_to 'Categories',categories_path, class:'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'My Cart', cart_path, class:'nav-link' %>
        </li>
        <li class='nav-item'>
          <div class= 'nav-link'><%= session[:cart_count] %></div>
        </li>
        <% if user_signed_in?%>
          <% if current_user.admin? %>
            <li class='nav-item'>
              <%= link_to 'All Orders', orders_path, class:'nav-link' %>
            </li>
            <li class='nav-item'>
              <%= link_to 'All Users', admin_index_path, class:'nav-link' %>
            </li>
          <% else %>
            <li class='nav-item'>
              <%= link_to 'My Orders', user_orders_path, class:'nav-link' %>
            </li>
          <% end %>
          <li class='nav-item'>
            <%= link_to 'Edit Profile', edit_user_registration_path(current_user), class:'nav-link' %>
          </li>
          <li class='nav-item'>
            <%= link_to 'Sign out',destroy_user_session_path, method: :delete, class:'nav-link' %>
          </li>
        <% else %>
          <li class='nav-item'>
            <%= link_to 'Sign up',new_user_registration_path, class:'nav-link' %>
          </li>
          <li class='nav-item'>
            <%= link_to 'Sign in',new_user_session_path, class:'nav-link' %>
          </li>
        <% end %>
      </ul>
      <div class='d-flex'>
        <h4 class='navbar-text px-4'><%= current_user.display_name if user_signed_in? %></h4>
        <form class='pt-2'>
          <%= search_form_for(@q, method: :get)  do |f| %>
            <%= f.search_field :title_cont, placeholder: 'Search Product' %>
            <%= f.submit %>
          <% end %>
        </form>
      </div>
    </div>
  </div>
</nav>
